local.file_match "devcollab_local_demo" {
  path_targets = [
    {
      __path__ = "/var/log/devcollab/*.stdout.log",
      job      = "devcollab-local",
      stream   = "stdout",
    },
    {
      __path__ = "/var/log/devcollab/*.stderr.log",
      job      = "devcollab-local",
      stream   = "stderr",
    },
  ]
  sync_period = "5s"
}

loki.source.file "devcollab_local_demo" {
  targets    = local.file_match.devcollab_local_demo.targets
  forward_to = [loki.write.local.receiver]
}

loki.write "local" {
  endpoint {
    url = "http://loki:3100/loki/api/v1/push"
  }
  external_labels = {
    environment = "local-demo",
  }
}
